html
  head
    style
      include css/bootstrap.css
      include css/td.css
      include dist/json-formatter.min.css
      include bower_components/sweetalert2/dist/sweetalert2.min.css
    script(src="bower_components/sweetalert2/dist/sweetalert2.min.js")
    script(type='text/javascript',src='lib/angular/angular.min.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    link(rel='stylesheet', href='dist/json-formatter.min.css')
    meta(charset='UTF-8')
    title Main page
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2')
            span.sr-only Toggle navigation
          .navbar-brand
            img(style="max-width:100px; margin-top: -1px;" src="assets/nextzy_white_logo.png")
        #bs-example-navbar-collapse-2.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/__')
                b Main page
            li
              a(href='/groupList')
                b Service Group
            li
              a(href='/log.html')
                b Log history
    .container
      h5(style="float:left;")
          b Service list
      div(style="float:right;")
        button.btn.btn-primary(button id="toggle")
          b ✚ New service
      hidden
        form.form-horizontal(name='form', method='POST',action='/')
          fieldset(ng-app='demo')
            center
              legend New form
            // NAME
            .form-group
              label.col-sm-2.control-label Name
              .col-sm-9
                input.form-control(name='name', type='text', value='')
            // METHOD
            .form-group
              label.col-sm-2.control-label METHOD
              .col-sm-9
                table
                  tr
                    td(width='100px')
                      .radio
                        label
                          input#optionsRadios1(type='radio', name='method', value='GET')
                          | GET
                    td(width='100px')
                      .radio
                        label
                          input#optionsRadios2(type='radio', name='method', value='POST')
                          | POST
                  tr
                    td(width='100px')
                      .radio
                        label
                          input#optionsRadios3(type='radio', name='method', value='PUT')
                          | PUT
                    td(width='100px')
                      .radio
                        label
                          input#optionsRadios4(type='radio', name='method', value='DELETE')
                          | DELETE
            // PATH
            .form-group
              label.col-sm-2.control-label URL
              .col-sm-9
                input.form-control(name='url', type='text', value='')
            // GROUP
            .form-group(ng-controller='GroupCtrl')
              label.col-sm-2.control-label GROUP
              .col-sm-9
                input(id='group' type='hidden' name='group' value='')
                label.checkbox-inline(ng-repeat='cb in cbg')
                  input(type='checkbox', ng-checked="cb.check" ng-click="toggleSelection(cb._id)")
                  |{{cb.name}}
            // TYPE
            .form-group
              label.col-sm-2.control-label TYPE
              .col-sm-9
                table
                  tr
                    td(width='100px')
                      .radio
                        label
                          input#r1(type='radio', name='type', ng-model="formtype", value='json', onclick='IsJsonString()')
                          | JSON
                    td(width='100px')
                      .radio
                        label
                          input#r2(type='radio', name='type', ng-model="formtype", value='xml', onclick='IsJsonString()')
                          | XML
            // TEXTAREA
            .form-group(text='', ng-controller='MainCtrl')
              label.col-sm-2.control-label Content
              .result.col-sm-9
                textarea.col-xs-6.jsonFormatter(id="json" onkeyup="IsJsonString()" onkeydown="IsJsonString()" name='response', ng-model='textarea') 
                div(ng-show="formtype=='json'")
                  .col-xs-6.jsonFormatter
                    json-formatter(json='textareaJson', open='1')
            // SUBMIT
            .form-group
              .col-sm-9.col-sm-offset-2
                button.btn.btn-default(button type="button" id="close") Back
                span 
                button.btn.btn-primary.disabled(id='submit' type='submit' disabled) Submit
                p
                  span(id="status")
      br
      br
    div#App2(ng-app='myApp', ng-controller='MainController')
      .container
        .well
          .form-group
            .col-sm-4
              input(id="inputNormal" placeholder="Search for any.." class="form-control",type='text',ng-model='search.$')
            h6.col-sm-1
              b Group :
            .col-sm-4
              select.form-control(ng-model='search.belongGroup')
                option(ng-repeat='group in groups') {{group.name}}
          br
      .container-fluid
        table.table.table-striped.table-hover(style="width:85%" align="center")
          thead
            tr
              th #
              th(style="min-width:350px;max-width:400px;") Name
              th METHOD
              th URL
              th(style="min-width:400px;")
                center Response
              th
              th
              th
              th
          tbody
            tr(ng-repeat="model in models | filter : search")
              td(width='3%') {{$index+1}}
              td(style="min-width:350px;max-width:400px;") {{model.name}}
              td(width='7%') {{model.method}}
              td(width='20%') {{model.url}}
              td(style="min-width:400px;")
                | {{model.response}}
              td(width='1px')
                a(style="cursor: pointer;" ng-click="copy(model.url)")
                  img(style="margin-top: 3px;" src="assets/copy-path.png")
              td(width='1px')
                button.btn.btn-link.btn-xs(value='{{model}}' onclick="preview(value)" onmouseover="" style="cursor: pointer;")
                  img(style="margin-top: 2px;" src="assets/ic_visibility_grey_24dp_1x.png")
              td(width='1px')
                a(ng-href="/edit?name={{model.name}}")
                  img(style="margin-top: 4px;" src="assets/ic_edit_grey_24dp_1x.png")
              td(width='1px')
                //- a(ng-href="/delete?_id={{model._id}}",onclick="return confirm('Are you sure to delete this service?');")
                a(style="cursor: pointer;" ng-click="deleteService(model._id,model.name,model.method,model.url)")
                  img(style="margin-top: 3px;" src="assets/ic_delete_grey_24dp_1x_mid.png")


    script(src='js/jquery.min.js')
    //- script(src='bower_components/angular/angular.js')
    script(src='js/bootstrap.js')
    script(type="text/javascript").
      $(document).ready(function(){
      $("hidden").hide();
      });
      $("#toggle").click(function(){
      $("hidden").toggle();
      });
      $("#close").click(function(){
      $("hidden").hide();
      });
      $(document).ready(function(){
      $('[data-toggle="tooltip"]').tooltip();   
      });
    //- script(type='text/javascript',src='lib/angular/angular.min.js')
    //- script(type='text/javascript',src='lib/angular-ui-router/release/angular-ui-router.min.js')
    //- script(type='text/javascript',src='js/ui-bootstrap-tpls.min.js')
    script(type='text/javascript',src='lib/app.js')

    script(src='dist/json-formatter.min.js')
    script(type='text/javascript',src='demo.js')
    style.
      .jsonFormatter {
      height:300px;
      }
    script.
      function preview(model){
      //- alert(str)
      model = JSON.parse(model)
      if(model.type=='json')
        model.response = model.response.replace(new RegExp("\n", "g"), '<br/>')
      else //model.type=='xml'
        model.response = model.response.replace(new RegExp("<", "g"), '&lt;')
      swal({
        title: model.name,
        html: '<b>method : </b>' + model.method + '<br/><b>url : </b>' + model.url + '<div style="text-align:left;">' + model.response + '</div>',
        confirmButtonText: 'Cool',
        confirmButtonColor: '#67cbb4',
        width: 800
      })
      }
    script.
      function IsJsonString() {
        if(document.getElementById('r1').checked){
          try {
            JSON.parse(document.getElementById("json").value);
          } catch (e) {
            document.getElementById('status').innerHTML = "Wrong JSON syntax."
            document.getElementById('submit').className = "btn btn-primary disabled"
            document.getElementById('submit').disabled = true

            return;
          }
          document.getElementById('status').innerHTML = ""
          document.getElementById('submit').className = "btn btn-primary"
          document.getElementById('submit').disabled = false
        }
        else if(document.getElementById('r2').checked)
          document.getElementById('status').innerHTML = ""
          document.getElementById('submit').className = "btn btn-primary"
          document.getElementById('submit').disabled = false
      }
    script.
      $('.form-control').on('focus blur', function (e) {
      $(this).parents('.form-group').toggleClass('focused', (e.type === 'focus' || this.value.length > 0));
      }).trigger('blur');
