doctype html
html
  head
    link(rel='stylesheet', href='lib/bootstrap.css')
    meta(charset='UTF-8')
    title Demo JSON
  container
    body
      div
        form.form-horizontal
          fieldset
            center
              legend Header
            // NAME
            .form-group
              label.col-sm-2.control-label Name
              .col-sm-8
                input.form-control(type='text', value='#{name}')
            // METHOD
            .form-group
              label.col-sm-2.control-label METHOD
              .col-sm-8
                input.form-control(type='text', value='#{method}')
            // PATH
            .form-group
              label.col-sm-2.control-label URL
              .col-sm-8
                input.form-control(type='text', value='#{url}')
            // TEXTAREA
            .form-group
              label.col-sm-2.control-label Textarea
              .col-sm-8
                textarea.form-control(rows='3')
                  |#{json}
                span.help-block Press Enter or Submit to update.
            // SUBMIT
            .form-group
              .col-sm-10.col-sm-offset-2
                button.btn.btn-primary(type='submit') Submit

