html(ng-app='demo')
  head
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    link(rel='stylesheet', href='bower_components/bootstrap/dist/css/bootstrap.css')
    link(rel='stylesheet', href='dist/json-formatter.min.css')
    meta(charset='UTF-8')
    title Update page
  body(ng-controller='MainCtrl')
    .container
      button.btn.btn-link.btn-lg(onclick="location.href='/'") back to Main page
      form.form-horizontal(name='form', method='POST', action='/update')
        fieldset
          center
            legend Update
          // NAME
          .form-group
            label.col-sm-2.control-label Name
            .col-sm-8
              input.form-control(disabled='', name='name', type='text', value='')
          // METHOD
          .form-group
            label.col-sm-2.control-label METHOD
            .col-sm-8
              table
                tr
                  td(width='100px')
                    .radio
                      label
                        input#optionsRadios1(type='radio', name='method', value='GET')
                        | GET
                  td(width='100px')
                    .radio
                      label
                        input#optionsRadios2(type='radio', name='method', value='POST')
                        | POST
                tr
                  td(width='100px')
                    .radio
                      label
                        input#optionsRadios3(type='radio', name='method', value='PUT')
                        | PUT
                  td(width='100px')
                    .radio
                      label
                        input#optionsRadios4(type='radio', name='method', value='DELETE')
                        | DELETE
          // PATH
          .form-group
            label.col-sm-2.control-label URL
            .col-sm-8
              input.form-control(name='url', type='text', value='undefined')
          // TEXTAREA
          .form-group
            label.col-sm-2.control-label JSON
            .result.col-sm-8
              textarea.col-xs-6.jsonFormatter(ng-model='textarea')
              .col-xs-6.jsonFormatter
                json-formatter(json='textareaJson', open='1')
          // SUBMIT
          .form-group
            .col-sm-8.col-sm-offset-2
              button.btn.btn-default(type='reset') Reset
              button.btn.btn-primary(type='submit') Submit
    script(src='dist/json-formatter.min.js')
    script(src='demo.js')
    style.
      .jsonFormatter {
      height:300px;
      }
