html
  head
    style
      include css/bootstrap.css
      include css/td.css
    script(type='text/javascript',src='lib/angular/angular.min.js')
    meta(charset='UTF-8')
    title Update Group
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2')
            span.sr-only Toggle navigation
          .navbar-brand
            img(style="max-width:100px; margin-top: -1px;" src="assets/nextzy_white_logo.png")
        #bs-example-navbar-collapse-2.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/')
                b Main page
            li.active
              a(href='/groupList')
                b Service Group
            li
              a(href='/log.html')
                b Log history
    .container#App2(ng-app='myApp', ng-controller='checkList')
      if _id
        h5
          b Service Group / 
          b(style="color:#67cbb4;") Edit Group
      else
        h5
          b Service Group / 
          b(style="color:#67cbb4;") New Group
      br
      form.form-horizontal(name='form', method='POST', action='/modifyGroup')
        fieldset
          // NAME
          .form-group
            label.col-sm-2.control-label Group Name
            .col-sm-9
              input.form-control(name='name', type='text', value='#{name}')
              input.form-control(readonly id='_id', name='_id', type='hidden', value='#{_id}')
              input.form-control(readonly id='list', ng-model='list', name='list', value='#{list}', type='hidden')
              //- input.form-control(id='list', name='list' ng-model='idList' ng-hide='false')
          // TEXTAREA
          .form-group
              label.col-sm-2.control-label Description
              .result.col-sm-9
                textarea.col-xs-6(class="form-control" id="json" name='description')
                  | #{description}
          // SUBMIT
          .form-group
            .col-sm-9.col-sm-offset-2
              a.btn.btn-default(href='/groupList') Back
              span 
              button.btn.btn-primary(type='submit' onclick='test()') Submit
          div.col-sm-10.col-sm-offset-1
            .well
              input(id="inputNormal" placeholder="Search for any.." class="form-control",type='text',ng-model='name')
            table.table.table-striped.table-hover(class="with-ellipsis",style="width:100%")
              thead
                tr
                  th
                  th #
                  th Name
                  th METHOD
                  th URL
                  th
                    center Response
              tbody
                tr(ng-repeat="model in models | filter : name")
                  td(width='1px')
                    input(type="checkbox" ng-model="model.checked" ng-checked="model.checked" ng-click="includeId(model._id)" style="margin-top : 8px")
                  td(width='3%') {{$index+1}}
                  td(width='15%') {{model.name}}
                  td(width='7%') {{model.method}}
                  td(width='15%') {{model.url}}
                  td
                    | {{model.response}}
    script(src='js/jquery.min.js')
    //- script(type='text/javascript',src='lib/angular-ui-router/release/angular-ui-router.min.js')
    //- script(type='text/javascript',src='js/ui-bootstrap-tpls.min.js')
    script(type='text/javascript',src='lib/app.js')
    script.
      function test(){
        document.getElementById('list').value = angular.element(document.querySelector('[ng-controller="checkList"]')).scope().list
      }