html
  head
    style
      include css/bootstrap.css
    script(src='bower_components/angular/angular.js')
    script(src='bower_components/angular-sanitize/angular-sanitize.js')
    link(rel='stylesheet', href='dist/json-formatter.min.css')
    meta(charset='UTF-8')
    title Update page
  body
    nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-2')
            span.sr-only Toggle navigation
          .navbar-brand Nextzy
        #bs-example-navbar-collapse-2.collapse.navbar-collapse
          ul.nav.navbar-nav
            li
              a(href='/')
                b Main page
            li
              a(href='/log.html')
                b Log history
    br
    br
    br
    .container
      form.form-horizontal(name='form', method='POST', action='/update')
        fieldset(ng-app='demo')
          center
            legend Update form
          // NAME
          .form-group
            label.col-sm-2.control-label Name
            .col-sm-8
              input.form-control(name='name', type='text', value='#{name}')
              input.form-control(readonly, name='_id', type='hidden', value='#{_id}')
          // METHOD
          .form-group
            label.col-sm-2.control-label METHOD
            .col-sm-8
              table
                tr
                  td(width='100px')
                    .radio
                      label
                        input#optionsRadios1(type='radio', name='method', value='GET', checked=(method=='GET'))
                        | GET
                  td(width='100px')
                    .radio
                      label
                        input#optionsRadios2(type='radio', name='method', value='POST', checked=(method=='POST'))
                        | POST
                tr
                  td(width='100px')
                    .radio
                      label
                        input#optionsRadios3(type='radio', name='method', value='PUT', checked=(method=='PUT'))
                        | PUT
                  td(width='100px')
                    .radio
                      label
                        input#optionsRadios4(type='radio', name='method', value='DELETE', checked=(method=='DELETE'))
                        | DELETE
          // PATH
          .form-group
            label.col-sm-2.control-label URL
            .col-sm-8
              input.form-control(name='url', type='text', value='#{url}')
          // TYPE
          .form-group
            label.col-sm-2.control-label TYPE
            .col-sm-8
              table
                tr
                  td(width='100px')
                    .radio
                      label
                        input#r1(type='radio', name='type', value='json', checked=(type=='json'), onclick='IsJsonString()&show()')
                        | JSON
                  td(width='100px')
                    .radio
                      label
                        input#r2(type='radio', name='type', value='xml', checked=(type=='xml'), onclick='IsJsonString()&hide()')
                        | XML
          // TEXTAREA
          .form-group(text='#{json}', ng-controller='MainCtrl')
              label.col-sm-2.control-label Response
              .result.col-sm-8
                textarea.col-xs-6.jsonFormatter(id="json" onkeyup="IsJsonString()" onkeydown="IsJsonString()" name='response', ng-model='textarea') 
                //- div(ng-show="formtype=='json'")
                .col-xs-6.jsonFormatter(id="jsonFormatter")
                  json-formatter(json='textareaJson', open='1')
          // SUBMIT
          .form-group
            .col-sm-8.col-sm-offset-2
              button.btn.btn-default(href='/') Back
              span 
              button.btn.btn-primary(id='submit' type='submit') Submit
              p
                span(id="status")
    //- script(type='text/javascript',src='lib/angular-ui-router/release/angular-ui-router.min.js')
    //- script(type='text/javascript',src='js/ui-bootstrap-tpls.min.js')
    script(type='text/javascript',src='lib/app.js')
    script.
      function clean(el){
        var textfield = document.getElementById(el);
        var regex = /[^a-z 0-9?!.,]/gi;
        if(textfield.value.search(regex) > -1) {
          textfield.value = textfield.value.replace(regex, "");
        }
      }
    script(src='dist/json-formatter.min.js')
    script(src='demo.js')
    style.
      .jsonFormatter {
      height:300px;
      }
    script.
      function IsJsonString() {
        if(document.getElementById('r1').checked){
          try {
            JSON.parse(document.getElementById("json").value);
          } catch (e) {
            document.getElementById('status').innerHTML = "Wrong JSON syntax."
            document.getElementById('submit').className = "btn btn-primary disabled"
            document.getElementById('submit').disabled = true

            return;
          }
          document.getElementById('status').innerHTML = ""
          document.getElementById('submit').className = "btn btn-primary"
          document.getElementById('submit').disabled = false
        }
        else
          document.getElementById('status').innerHTML = ""
          document.getElementById('submit').className = "btn btn-primary"
          document.getElementById('submit').disabled = false
      }
      function hide(){
        document.getElementById('jsonFormatter').className = 'hidden'
      }
      function show(){
        document.getElementById('jsonFormatter').className = ''
      }

